<center><h1>About</h1></center>
<center>

	<p>We are committed to providing the world with the best volunteer and work opportunities in the state of Israel. Volunteers and workers come from the United States, Brazil, Uraguay, Germany, Russia, Australia, and all over the globe. Israel is a leader in technology, agriculture, and the sciences, and we strongly believe that everyone should visit this wonderful country for all it has to offer.</p><p>As an organization, we strive to collect all online data relating to work and volunteer opportunities in a clean, open-source manner. Have an organization? Want to contribute to the website? <a href="#">Contact us</a> for details. </p>

</center>