
 .navbar{
 	background-color: #24475A;
 }
 .navbar navbar-nav {
 	margin-left: 20px;
 }
.large{
	font-size: 30px;
	letter-spacing: 0px;
}
.sml{
	font-size: 10px;
	margin-left: 0px;
	letter-spacing: 0px;
}
#logo {
	top: 1em;
}

 li{
 	left: 30px;
 }
 

span{
	margin-left: 5px;
}
