<!--Loop for rendering each organzation-->

<% @organizations.each do |organization| %>
  <div class="col-md-4">
    <center>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><h4><%= organization.name %></h4></h3>
        </div>
        <div class="panel-body"> 
          <%= image_tag organization.organization_image, :class => "img-responsive" %>
          <p><%= organization.name %></p>
          <%= link_to 'More Info', organization, :class =>"btn btn-md  btn-primary btn-center btn-block" %>
        </div>

        
      </div>

    </center>

  </div>
<% end %>
