<%= stylesheet_link_tag "assets/index" %>
<div class='bgImgContainer'></div>
<br><br><br>
<br><br><br>
<br><br><br><br><br>

<center><h1>Our Volunteer Opportunities</h1></center>
<div class="container">
    <div class="col-md-10 col-md-offset-1">

      <%= render 'org_panel' %>

    </div>
</div>





  
  